
<p style = "text-align: center; ">
		<font size ="5"><b>Tools<b> </font> 
</p>

<p style = "margin-left: 50px; margin-top: 10px">
	<button class = "but2" onclick= "javscript:location='/main/tools'"> Book Reports </button>
	<span class= "tab1">
	</span><button class = "but2" onclick= "javscript:location='/main/tools'"> System Settings </button>
	<span class= "tab1">
	</span><button class = "but2"  onclick= "javscript:location='/main/welcome'"> Main Menu </button>

</p>

<div id="details" style= "position:relative; left: 40px; top:30px;border:2px solid;width : 1000px; height: 350px; overflow: auto ">
	
	<table border= "0">
		<tr><td width ="200px"><button class = "but1"  onclick= "javscript:location='/main/stocks'"> Stock List </button>
		<td><button class = "but1"  onclick= "javscript:location='/main/stats'"> Stock Statistics </button>
		</tr>

	</table>
</div>
