
<p style = "text-align: center; ">
		<font size ="5"><b>Tools<b> </font> 
</p>



<div id="details" style= "position:relative; left: 40px; top:30px;border:2px solid;width : 1000px; height: 400px; overflow: auto ">
	
	<table style= "border:0px solid; margin: 40px">
		<tr><td width ="250px" height = "100px"><button class = "but2"  onclick= "javscript:location='/main/stocks'"> Stock List </button>
		<td width ="250px"><button class = "but2"  onclick= "javscript:location='/main/availableItems'"> Available Items </button>
		<td width ="250px"><button class = "but2"  onclick= "javscript:location='/main/borrowedItems'"> Borrowed Items </button>
		<td width ="250px"><button class = "but2"  onclick= "javscript:location='/main/overdue'"> Overdue Items </button>
		</tr><tr>
		<td width ="250px"><button class = "but2"  onclick= "javscript:location='/main/stats'">Item Statistics  </button>
		<td width ="250px"height = "100px"><button class = "but2"  onclick= "javscript:location='/main/tools'">Add Administrator</button>
		<td width ="250px"><button class = "but2"  onclick= "javscript:location='/main/tools'"> Edit  Administrators</button>
		<td width ="250px"><button class = "but2"  onclick= "javscript:location='/main/tools'"> System Settings </button>
		

	</table>
</div>

<p style = "position: relative;top:30px; left: 915px">
<button class = "but1"  onclick= "javscript:location='/main/welcome'"> Back </button>
</p>
