<p style = "position: relative; left: 30px;  ">


	<button class= "but" onclick= "javscript:location='/book_checkout/circulation_borrow'"> Borrow Book  </button><br><br>
	<button class= "but" onclick= "javscript:location='/book_checkout/return_book'"> Return Book </button><br><br>
	<button class= "but" onclick= "javscript:location='/main/book'"> Books </button><br><br>
	<button class= "but" onclick= "javscript:location='/main/employees'"> Employees </button><br><br>


	

</p>

<p style = "position: absolute; left: 280px; top: 7px"  >

	<img src="/images/slide_4268_62738_large.jpg" height = "530px" width = "710px" >

</p>



